* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fff;
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot');
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont/iconfont.woff2') format('woff2'), url('iconfont/iconfont.woff') format('woff'), url('iconfont/iconfont.ttf') format('truetype'), url('iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#bit {
    width: 100%;
    height: 40px;
    background-color: #333333;
}

.in-bit {
    margin: auto;
    width: 1226px;
    height: 40px;
    overflow: hidden;
}

.in-bit a {
    line-height: 40px;
    color: #b0b0b0;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

.in-bit a:hover {
    color: cornsilk;
}

.in-bit span {
    color: #424242;
    margin: 0.2em;
}

.in-left {
    float: left;
}

.in-zhong {
    width: 120px;
    height: 40px;
    float: right;
}

.in-zhong a {
    text-align: center;
    width: 120px;
    height: 40px;
    background-color: #424242;
}

.in-zhong a:hover {
    color: #ff6700;
    background-color: #fff;
}

.in-right {
    margin-right: 10px;
    float: right;
}


/* 搜索框属性 */

#sou-out {
    width: 100%;
    height: 100px;
    position: relative;
}

.sou-in {
    padding-top: 12px;
    width: 1226px;
    height: 88px;
    margin: 0 auto;
    overflow: hidden;
}

.sou-left {
    width: 55px;
    height: 55px;
    float: left;
}

.sou-left2 {
    float: left;
    width: 165px;
    height: 100px;
}

.sou-left2 img {
    margin-top: 10px;
}


/* 开始设置小米标志转换 */

.sou-left a {
    margin-top: 12px;
    float: left;
    position: relative;
    /*这个可以回过头来再看*/
    display: block;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    /* 清除在外围的图标 */
    overflow: hidden;
    /*这个也很重要喔，不加会有惊喜*/
}

.sou-left a:before,
.sou-left a:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    content: "";
    transition: transform .3s;
}

.sou-left a::before {
    background: url(img/2.jpg) no-repeat 50% 50%;
}

.sou-left a::after {
    margin-left: -55px;
    background: url(img/3.jpg) no-repeat 50% 50%;
}

.sou-left a:hover::before,
.sou-left a:hover::after {
    transform: translate(55px);
}


/* 结束 */

.sou-zhong {
    position: relative;
    width: 700px;
    height: 100px;
    float: left;
}

.sou-zhong>ul {
    width: 700px;
    overflow: hidden;
}

.sou-zhong>ul>li {
    float: left;
    list-style: none;
}

.sou-zhong>ul>li>a {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #333333;
    padding: 26px 10px 38px;
}

.sou-zhong>ul>li>a:hover {
    color: #ff6700;
}


/* 搜索框 */

.sou-right {
    float: right;
    width: 300px;
    height: 88px;
    overflow: hidden;
}

.sou-right .input {
    float: left;
    right: -126px;
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid #e0e0e0;
    text-indent: 12px;
    margin-top: 20px;
}


/* head的下滑列表 */

.sou-zhong-container {
    display: none;
    position: absolute;
    top: 100px;
    height: 0%;
    width: 100%;
    height: 229px;
    /* border: 1px solid #ff6700; */
    z-index: 24;
    background-color: #f9f9f9;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.sou-zhong-child {
    display: block;
    width: 1226px;
    height: 100%;
    /* border: 1px solid #000; */
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.sou-zhong-child>li {
    display: none;
}

.sou-zhong-child .visible {
    display: block;
}

.sou-zhong-child>li>ul>li {
    display: block;
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}

.sou-zhong-child a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.sou-zhong-child .child-img img {
    display: block;
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
}

.sou-zhong-child .child-img {
    border-left: 2px solid #e0e0e0;
}

.sou-zhong-child .sou-first .child-img {
    border-left: 0px;
}

.sou-zhong-child .title {
    line-height: 20px;
    color: #333;
    font-size: 12px;
}

.sou-zhong-child p {
    margin: 0%;
    line-height: 20px;
    color: #ff6709;
    font-size: 12px;
}


/* .sou-right a {
    margin-top: 20px;
    float: left;
    background-image: url(img/7.jpg);
    border: 1px solid #e0e0e0;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
} */


/* .sou-right a:hover {
    background-position: 0 -40px;
} */

.jingzi {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
}

.jingzi:hover {
    color: #fff;
    background-color: #ff6700;
    border: 1px solid #ff6700;
}

.app {
    position: relative;
}

.app .appcode {
    top: 40px;
    margin-left: -50px;
    width: 124px;
    height: 0;
    left: 50%;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: #b0b0b0;
}

.app:hover .appcode {
    visibility: visible;
}

.banner {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    width: 1226px;
    height: 460px;
}

.banner ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hot {
    position: absolute;
    top: 0;
    left: 0;
}

.hot li {
    display: none;
    width: 1226px;
    height: 460px;
}

.hot img {
    display: block;
    width: 1226px;
    height: 460px;
}

.lbox {
    position: absolute;
    width: 234px;
    height: 460px;
    background-color: rgba(105, 101, 101, .6);
    left: 0px;
    top: 0px;
}

.lbox>ul>li>a {
    display: block;
    text-decoration: none;
    width: 204px;
    height: 43px;
    padding-left: 30px;
    line-height: 43px;
    color: white;
    position: relative;
}

.lbox>ul>li>.a-one {
    margin-top: 15px;
}

.lbox>ul>li>a:hover {
    background-color: tomato;
}

.lbox .lbox-children {
    display: none;
    position: absolute;
    width: 992px;
    height: 458px;
    top: 0;
    left: 234px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
}

.lbox .lbox-children ul {
    width: 248px;
    height: 458px;
    float: left;
    list-style-type: none;
    font-size: 14px;
}

.lbox .lbox-children li {
    /* float: left; */
    position: relative;
    width: 265px;
    height: 76px;
    line-height: 76px;
}

.lbox .lbox-children li a {
    display: block;
    width: 224px;
    height: 40px;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
}

.lbox .lbox-children img {
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 12px;
}

.lbox .lbox-children span {
    display: block;
    height: 40px;
    float: left;
    width: 172px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* .lbox em::before {
    content: '\E623';
    font-family: iconfont !important;
} */

.lbox em {
    position: absolute;
    right: 20px;
    font-size: 16px;
    color: #e0e0e0;
}


/* 圆点 */

.banner .dot {
    position: absolute;
    width: 78%;
    bottom: 20px;
    text-align: right;
    right: 30px;
}

.dot li {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-radius: 100%;
    border-color: hsla(0, 0%, 100%, .3);
    background-color: rgba(0, 0, 0, .4);
    margin: 0 5px;
    cursor: pointer;
}

.dot .on {
    border: 2px solid rgba(0, 0, 0, .4);
    /* border-color: rgba(0, 0, 0, .4); */
    background-color: hsla(0, 0%, 100%, .3);
}


/* 左右翻页箭头 */

.arrow .prev {
    position: absolute;
    width: 41px;
    height: 69px;
    top: 50%;
    left: 234px;
    margin-top: -34.5px;
    cursor: pointer;
    background: url(lunbo/6.jpg) no-repeat -84px 50%;
}

.arrow .next {
    position: absolute;
    width: 41px;
    height: 69px;
    top: 50%;
    right: 0px;
    margin-top: -34.5px;
    cursor: pointer;
    background: url(lunbo/6.jpg) no-repeat -125px 50%;
}

.arrow .prev:hover {
    background: url(lunbo/6.jpg) no-repeat 0px 50%;
}

.arrow .next:hover {
    background: url(lunbo/6.jpg) no-repeat -43px 50%;
}


/* 服务选项 */

.home-hero-sub {
    width: 1240px;
    height: 170px;
    margin: 0 auto;
    margin-top: 14px;
}

.span4 {
    width: 234px;
    height: 170px;
    float: left;
    margin-left: 5px;
}

.span4 ul {
    display: block;
    width: 234px;
    height: 170px;
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}

.span4 ul li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    /* background: #5f5750; */
}

.span4 ul li a {
    display: block;
    padding-top: 18px;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.2s;
}

.span4 ul li a:hover {
    opacity: 1;
    text-decoration: solid;
}

.span4 ul li a img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

.span6 {
    width: 990px;
    height: 100%;
    float: left;
    margin-left: 5px;
}

.span6 ul {
    width: 990px;
    list-style-type: none;
}

.span6 ul a {
    display: block;
    width: 316px;
    height: 100%;
    text-decoration: none;
    float: left;
    margin-left: 14px;
}

.span6 ul a img {
    display: block;
    width: 316px;
    height: 170px;
}


/* 移动栏 */

.box-hd {
    position: relative;
    width: 1226px;
    height: 58px;
    margin: 15px auto 0;
}

.box-hd h2 {
    line-height: 58px;
    font-size: 22px;
    font-weight: 200;
    margin: 0;
    margin-left: -5px;
    color: #333;
}

.box-hd .move-controls {
    position: absolute;
    right: 5px;
    top: 24px;
}

.move-controls .move-prev,
.move-next {
    display: inline-block;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    margin-left: -4px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #b0b0b0;
    text-align: center;
    cursor: pointer;
}

.mo :hover,
.mo1 :hover {
    color: #ff6700;
}

.move-controls .move-prev:focus,
.move-next:focus {
    color: #e0e0e0;
    cursor: default;
}


/* 倒计时 */

.move {
    width: 1240px;
    height: 340px;
    margin: 0 auto;
}

.move .count-down {
    width: 234px;
    height: 339px;
    float: left;
    border-top: 1px solid #e53935;
    background: #f1eded;
}

.move .count-down .count-bottom {
    width: 234px;
    height: 300px;
    margin-top: 40px;
    text-align: center;
}

.count-bottom .round {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}

.count-bottom img {
    margin: 25px auto;
}

.count-bottom .desc {
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.timer {
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    width: 168px;
    height: 46px;
    margin-top: 28px;
    display: block;
    font-weight: 700;
}

.time {
    position: relative;
    float: left;
    width: 46px;
    height: 46px;
    background-color: #605751;
    text-align: center;
    color: white;
    margin-left: 15px;
    font-size: 24px;
    line-height: 46px;
    font-weight: 100;
}

.time::after {
    content: ":";
    color: #605751;
    display: block;
    width: 15px;
    height: 100%;
    position: absolute;
    right: -15px;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    top: 0px;
}

.timer-second::after {
    content: "";
}

.timer-hour {
    margin-left: 0px;
}


/* 倒计时轮播图 */

.swiper-container {
    position: relative;
    width: 992px;
    height: 340px;
    float: left;
    /* margin-left: 14px; */
    overflow: hidden;
    /* border: 1px solid #000; */
}

.swiper-container .container-ul {
    position: absolute;
    list-style: none;
}

.swiper-container li {
    float: left;
}

.swiper-container .container-ul li a {
    display: block;
    width: 234px;
    height: 339px;
    background-color: #fff;
    margin-left: 14px;
    border-top: 1px solid #ffac13;
    text-align: center;
    text-decoration: none;
}

.container-img {
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}

.container-img img {
    display: block;
    width: 160px;
    height: 160px;
}

.container-ul .content h3 {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    /* 字太多，会自动省略 */
    text-overflow: ellipsis;
    /* 不进行换行 */
    white-space: nowrap;
    /* 超出空间得内容不可见 */
    overflow: hidden;
    color: #212121;
}

.content .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.content .price {
    margin: 0%;
    color: #ff6709;
}

.content .price del {
    color: #b0b0b0;
}


/* 底部 */

.footer {
    background-color: #fff;
}

.foot {
    width: 1300px;
    height: 332px;
    margin: 30px auto;
}

.foot a {
    text-decoration: none;
}

.foot dt {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.foot dd a {
    font-size: 12px;
    text-decoration: none;
    color: #424242;
}

.foot dd a:hover {
    color: #ff6700;
}

.foot dd {
    margin-left: 10px;
    margin-top: 10px;
}

.foot dl {
    display: block;
    float: left;
    margin-left: 80px;
}

.foot .dl-one {
    margin-left: 20px;
}

.foot-right {
    float: left;
    width: 250px;
    height: 110px;
    margin-left: 200px;
    border-left: 1px solid #b0b0b0;
}

.p-oen {
    font-size: 22px;
    color: #ff6700;
    line-height: 1;
    text-align: center;
    margin: 0 0 5px 0;
}

.p-two {
    font-size: 12px;
    color: #616161;
    text-align: center;
    margin: 0 0 5px 0;
    line-height: 1;
    margin-top: 10px;
}

.foot-right .a-one {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 118px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    border: 1px solid #ff6700;
    color: #ff6700;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 60px;
}

.foot-right .a-one:hover {
    background-color: #ff6700;
    color: #fff;
}

.foot-wx {
    /* margin-top: 10px; */
    overflow: hidden;
    width: 118px;
    font-size: 12px;
    color: #424242;
    margin: 10px auto;
}

.wb {
    margin-top: -3px;
    float: right;
    width: 24px;
    height: 24px;
    background-image: url(img/wx.jpg);
    background-size: 24px 24px;
    margin-right: 3px;
}

.wx {
    margin-top: -3px;
    float: right;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin-right: 3px;
    background-image: url(img/wb.jpg);
}

.wb:hover {
    background-image: url(img/wx2.jpg);
}

.wx:hover {
    background-image: url(img/wb2.jpg);
}


/* foot service */

.foot .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.foot .footer-service ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.foot .footer-service ul li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 2px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.footer-service ul li:first-child {
    border-left: 0px;
}

.foot .footer-service ul li a {
    color: #616161;
    transition: all 0.2s linear;
}

.foot .footer-service ul li a:hover {
    color: #ff6700;
}

.foot .footer-service ul li em {
    font-size: 24px;
    margin-right: 6px;
    line-height: 24px;
    vertical-align: -4px;
}

.foot .footer-service ul li .icon1::before {
    content: '\e659';
}

.foot .footer-service ul li .icon2::before {
    content: '\e61f';
}

.foot .footer-service ul li .icon3::before {
    content: '\e606';
}

.foot .footer-service ul li .icon4::before {
    content: '\e670';
}

.foot .footer-service ul li .icon5::before {
    content: '\e70e';
}

.foot .foot-links {
    padding: 40px 0;
}


/* body */

body {
    background-color: #f9f9f9;
}


/* 商品展时段 */

#goods {
    width: 1226px;
    margin: 22px auto;
}

#goods a {
    text-decoration: none;
}

#goods .title {
    margin: 22px 0 22px -5px;
}

#goods .phone {
    margin-left: -5px;
}

#goods .title img {
    display: block;
    width: 1226px;
    height: 120px;
}

#goods .phone ul {
    list-style-type: none;
}

#goods .phone-hd {
    position: relative;
    height: 58px;
}

.phone-hd h2 {
    margin: 0;
    font-weight: 200;
    font-size: 22px;
    line-height: 58px;
}

.phone-hd .hd-more {
    position: absolute;
    right: 0;
    top: 0px;
}

.phone-hd .hd-more a {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
}

.phone-hd .hd-more a:hover {
    color: #ff6700;
}

.phone-hd .hd-more a:hover .iconfont {
    background-color: #ff6700;
}

.phone-hd .hd-more a i {
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    background-color: #b0b0b0;
    color: #fff;
    /* 垂直对齐方式 */
    vertical-align: 1px;
}

.phone-hd .hd-more a i::before {
    content: '\e804';
}

.phone-line {
    width: 1240px;
    height: 628px;
}

.phone-line .phone-left {
    float: left;
    width: 234px;
    height: 614px;
}

.phone-line .phone-left li {
    transition: all 0.2s linear;
}

.phone-left img {
    display: block;
    width: 234px;
    height: 614px;
}

.phone-line .line1 {
    float: left;
    width: 978px;
    height: 614px;
    margin-left: 14px;
    /* border: 1px solid #111111; */
    /* margin: 20px auto; */
}

.line1 ul {
    width: 992px;
    height: 614px;
    margin: 0 0 -14px -14px;
}

.line1 img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
    overflow: hidden;
}

.a1 {
    position: relative;
    z-index: 1;
    display: block;
    width: 234px;
    height: 260px;
    text-decoration: none;
    background-color: #fff;
}

.li1 {
    text-align: center;
    background-color: #fff;
}

.line1 h3 {
    color: #333;
}

.line1 .p {
    margin-top: 5px;
    font-size: 12px;
    color: #b0b0bb;
}

.line1 .py {
    margin: 5px;
    font-size: 14px;
    color: #ff6700;
}

.line1 li {
    width: 234px;
    height: 260px;
    padding: 20px 0;
    display: block;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #fff;
    transition: margin-top 0.5s;
    transition: all 0.2s linear;
}

.phone-line li:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    /* 水平阴影位置 垂直阴影位置 模糊距离 颜色 */
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}


/* 家电 */

.goods-hd {
    position: relative;
    height: 58px;
}

.goods-hd h2 {
    margin: 0;
    font-weight: 200;
    font-size: 22px;
    line-height: 58px;
}

.goods-hd .hd-more {
    position: absolute;
    top: 0;
    right: 0;
}

.hd-more ul {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}

.hd-more li {
    display: inline-block;
    margin: 0 0 0 30px;
    padding: 0px;
    color: #424242;
    border-bottom: 2px solid #fff;
    transition: border 0.2s;
    cursor: pointer;
}

.hd-more .list-active {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.line1 img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
    overflow: hidden;
}

.a1 {
    position: relative;
    z-index: 1;
    display: block;
    width: 234px;
    height: 260px;
    text-decoration: none;
    background-color: #fff;
}

.li1 {
    text-align: center;
    background-color: #fff;
}

.line1 h3 {
    color: #333;
}

.line1 .p {
    margin-top: 5px;
    font-size: 12px;
    color: #b0b0bb;
}

.line1 .py {
    margin: 5px;
    font-size: 14px;
    color: #ff6700;
}

.line1 li {
    width: 234px;
    height: 260px;
    padding: 20px 0;
    display: block;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #fff;
    transition: margin-top 0.5s;
    transition: all 0.2s linear;
}

.phone-line li:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    /* 水平阴影位置 垂直阴影位置 模糊距离 颜色 */
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}


/* 家电body部分 */

.goods-bd {
    overflow: hidden;
    margin-left: -14px;
}

.goods-bd .bd-left {
    width: 234px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
}

.goods-bd .bd-left ul {
    width: 234px;
    height: 614px;
    padding: 0;
    list-style-type: none;
    margin: 0 0 -14px -14px;
}

.goods-bd .bd-left ul li {
    height: 300px;
    width: 234px;
    float: left;
    padding: 0;
    position: relative;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #fff;
    transition: all 0.2s linear;
}

.goods-bd .bd-left ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.goods-bd .bd-left ul li a img {
    width: 234px;
    height: 300px;
    border: 0px;
}

.goods-bd .bd-right {
    width: 978px;
    height: 614px;
    float: left;
    margin-left: 14px;
    min-height: 1px;
    overflow: hidden;
}

.goods-bd .bd-right .brick-list {
    display: none;
    width: 992px;
    height: 614px;
    margin: 0 0 -14px -14px;
    padding: 0px;
    list-style-type: none;
}

.goods-bd .bd-right .list-show {
    display: block;
}

.goods-bd .bd-right .brick-list li {
    position: relative;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    display: block;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #fff;
    transition: margin-top 0.5s;
    transition: all 0.2s linear;
}

.goods-bd .bd-right .brick-list li:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    /* 水平阴影位置 垂直阴影位置 模糊距离 颜色 */
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.goods-bd .bd-right .brick-list li img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
    overflow: hidden;
}

.goods-bd .bd-right .brick-list .a1 {
    z-index: 1;
    display: block;
    width: 234px;
    height: 260px;
    text-decoration: none;
    background-color: #fff;
}

.goods-bd .bd-right .brick-list .li1 {
    text-align: center;
    background-color: #fff;
}

.goods-bd .bd-right .brick-list h3 {
    color: #333;
}

.goods-bd .bd-right .brick-list .p {
    margin-top: 5px;
    font-size: 12px;
    color: #b0b0bb;
}

.goods-bd .bd-right .brick-list .py {
    margin: 5px;
    font-size: 14px;
    color: #ff6700;
}


/* 最后一个小框 */

.goods-bd .bd-right .brick-list .last-item {
    height: 93px;
    padding: 0px;
    padding-top: 50px;
}

.goods-bd .bd-right .brick-list .last-item a {
    text-decoration: none;
    color: #757575;
    background-color: #fff;
}

.goods-bd .bd-right .brick-list .last-item img {
    width: 80px;
    height: 80px;
    border: 0;
}

.goods-bd .bd-right .brick-list .last-item .last-img {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 80px;
    height: 80px;
}

.goods-bd .bd-right .brick-list .last-item h3 {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
}

.goods-bd .bd-right .brick-list .last-item p {
    margin: 0 110px 0 30px;
    font-size: 14px;
    color: #ff6700;
}

.goods-bd .bd-right .brick-list .last-item .last-more {
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px;
    color: #ff6700;
}

.goods-bd .bd-right .brick-list .last-item .last-more i {
    font-size: 48px;
    line-height: 48px;
}

.goods-bd .bd-right .brick-list .last-item .last-more i::before {
    content: '\e60e';
    color: #ff6700;
}

.goods-bd .bd-right .brick-list .last-item .more {
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}

.goods-bd .bd-right .brick-list .last-item .more small {
    display: block;
    font-size: 12px;
    color: #757575;
}


/* 下部视频部分 */

.goods-video .box-bd ul {
    width: 1240px;
    height: 285px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.goods-video .box-bd ul .vedio-item {
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.goods-video .box-bd ul .vedio-item:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    /* 水平阴影位置 垂直阴影位置 模糊距离 颜色 */
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.goods-video .box-bd ul .vedio-item:first-child {
    margin-left: 0;
}

.goods-video .box-bd ul .vedio-item a {
    text-decoration: none;
    background-color: #fff;
    color: #757575;
}

.goods-video .box-bd ul .vedio-item a .figure {
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}

.goods-video .box-bd ul .vedio-item .figure img {
    display: block;
    width: 296px;
    height: 180px;
}

.goods-video .box-bd ul .vedio-item a .figure .play {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #424242;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
    overflow: hidden;
}

.goods-video .box-bd ul .vedio-item a .figure .play:hover {
    background-color: #ff6700;
    border: 2px solid #ff6700;
}

.goods-video .box-bd ul .vedio-item a .figure .play i::before {
    content: '\e60f';
    color: #fff;
    vertical-align: top;
    text-align: center;
}

.goods-video a h3 {
    margin: 0 14px 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.goods-video a .desc {
    height: 18px;
    margin: 0 14px;
    font-size: 12px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* 视频窗口 */

.opt {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.opt .bg-opt {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.4;
}

.opt-box {
    position: absolute;
    z-index: 100;
    width: 880px;
    height: 555px;
    top: 15%;
    left: 25%;
    background-color: #fff;
}

.opt-header {
    position: relative;
    /* width: 880px; */
    height: 32px;
    padding: 14px 20px;
    line-height: 32px;
    background-color: #f5f5f5;
}

.opt-header span {
    font-size: 18px;
    font-weight: 400;
    color: #424242;
    vertical-align: middle;
}

.opt-box .opt-col {
    position: absolute;
    right: 14px;
    top: 14px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #757575;
    cursor: pointer;
    transition: all .2s;
    z-index: 10;
    border-radius: 15px;
    text-decoration: none;
}

.opt-box .opt-col:hover {
    color: #ff6700;
}

.opt-box .opt-col i {
    font-size: 24px;
    font-weight: 200;
    vertical-align: middle;
}

.opt-box .opt-col i::before {
    content: '\e602';
}

.opt-box .opt-bd {
    width: 100%;
    height: 495px;
}

.opt-box .opt-bd video {
    width: 100%;
    height: 495px;
}


/* 浮动导航栏样式 */

.box {
    position: fixed;
    top: 90px;
    right: 0px;
    width: 80px;
    z-index: 99;
}

.box a {
    position: relative;
    display: block;
    margin-top: -1px;
    width: 82px;
    height: 90px;
    text-align: center;
    border: 1px solid #f0f0f0;
    text-decoration: none;
    background-color: #fff;
    /* border: 1px solid blueviolet; */
}

.box a span {
    /* padding-top: 18px; */
    /* text-align: center; */
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 18px;
}

.box a h4 {
    margin-top: 5px;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}

.box-more {
    display: none;
    position: absolute;
    /* z-index: 2; */
    z-index: 100;
    left: -145px;
    top: 0px;
    width: 100px;
    padding: 15px 15px 10px;
    background: #ffffff;
    text-align: center;
}

.box-more::before,
.box-more::after {
    content: "";
    position: absolute;
    top: 21%;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    overflow: hidden;
}


/* .box-more::before {
    right: -19px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f5f5;
    z-index: 1;
} */

.box-more::after {
    right: -18px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
    z-index: 2;
}

.box-more img {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    z-index: 1000;
}

.box-more p {
    position: relative;
    margin-top: 10px;
    color: #999;
    font-size: 13px;
    line-height: 20px;
    z-index: 1000;
}

.box .a-one:hover .box-more {
    display: block;
}

#totop {
    display: none;
    margin-top: 15px;
}

.box-pc1 {
    background: url(img/f1.png) center center no-repeat;
    background-size: 100% 100%;
}

.box-pc2 {
    background: url(img/f2.png) center center no-repeat;
    background-size: 100% 100%;
}

.box-pc3 {
    background: url(img/f3.png) center center no-repeat;
    background-size: 100% 100%;
}

.box-pc4 {
    background: url(img/f4.png) center center no-repeat;
    background-size: 100% 100%;
}

.box-pc5 {
    background: url(img/f5.png) center center no-repeat;
    background-size: 100% 100%;
}

.box-pc6 {
    background: url(img/totop.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.box a:hover h4 {
    color: #ff6700;
}

.box a:hover .box-pc1 {
    background-image: url(img/f1h.png);
}

.box a:hover .box-pc2 {
    background-image: url(img/f2h.png);
}

.box a:hover .box-pc3 {
    background-image: url(img/f3h.png);
}

.box a:hover .box-pc4 {
    background-image: url(img/f4h.png);
}

.box a:hover .box-pc5 {
    background-image: url(img/f5h.png);
}

.box a:hover .box-pc6 {
    background-image: url(img/totop_hover.jpg);
}